@media (max-width:1550px) {
    tr, td {
        font-size: 16px;
    }
    .greenieHeader {
        font-size: 3.5rem;
    }
    .callsignHeader {
		max-width:300px !important;
	}
}
@media (max-width:1400px) {
    tr, td {
        font-size: 14px;
    }
    .greenieHeader {
        font-size: 3rem;
    }
    .callsignHeader {
		min-width:200px !important;
	}
	.logo {
    	width:150px !important;
    }
    .table>:not(caption)>*>* {
	    padding: .42rem .42rem;

	}
}

@media (max-width:1300px) {
    tr, td {
        font-size: 14px;
    }
    .greenieHeader {
        font-size: 3rem;
    }
    .callsignHeader {
		min-width:200px !important;
	}
	.logo {
    	width:150px !important;
    }
    .table>:not(caption)>*>* {
	    padding: .42rem .42rem;

	}
}

@media (max-width:1200px) {
    tr, td {
        font-size: 14px;
    }
    .greenieHeader {
        font-size: 3rem;
    }
    .callsignHeader {
		min-width:200px !important;
	}
	.logo {
    	width:150px !important;
    }
    .table>:not(caption)>*>* {
	    padding: .42rem .42rem;

	}

}


@media (max-width:1024px) {
   .greenieHeader {
        font-size: 2.5rem;
    }
}


@media (max-width:991px) {
    

}


@media (max-width:768px) {
    
    
}


@media (max-width:474px) {
    
}


@media (max-width: 430px) {
    
    
}


@media (max-width: 375px) {
    
    
    
}


@media (max-width:360px) {
  
}


@media (max-width:320px) {
    
}
